In [3]:
import numpy as np
import pandas as pd

In [5]:
label = ['satu','dua','tiga']

In [13]:
angka = [10,20,30] # list

In [14]:
no_angka = np.array(angka)

list

In [16]:
no_angka # type nya numpy.array

array([10, 20, 30])

In [18]:
type(no_angka)

numpy.ndarray

In [19]:
d = { 'satu':10, 'dua':20, 'tiga':30}

In [29]:
dataku = pd.Series(data=angka, index=label) #klo angka biasa itu int64,
# klo no_angka int32

In [30]:
dataku['satu']

10

In [34]:
no_angka[0]
angka[0]

10

In [35]:
pd.Series(d)

satu    10
dua     20
tiga    30
dtype: int64

In [36]:
pd.Series(no_angka)

0    10
1    20
2    30
dtype: int32

In [43]:
dataku = dataku.to_frame()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [42]:
dataku

       0
satu  10
dua   20
tiga  30

In [44]:
type(dataku)

pandas.core.frame.DataFrame

In [45]:
d2 = { 'satu':10, 'dua':20, 'tiga':30, 'empat':40, 'lima':50}

In [49]:
dataku = pd.Series(d)

In [50]:
dataku2 = pd.Series(d2)

In [51]:
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [52]:
dataku2

satu     10
dua      20
tiga     30
empat    40
lima     50
dtype: int64

In [53]:
dataku + dataku2

dua      40.0
empat     NaN
lima      NaN
satu     20.0
tiga     60.0
dtype: float64

In [54]:
# klo ada menjumlah kan antar Series gini dtype nya dri int jdi float